* {
    box-sizing: border-box;
}



body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 /* NAVBAR */
.mobile-menu-img{
    width: 50px;
    height: 50px;
    margin:5px;
}
 /* ENDOF NAVBAR */


/* HERO SECTION */
.hero{
background-color: #7894F6;
height: 359px;
}

.hero1{
    padding-top: 20px;
    padding-bottom: 25px;
}
/* search button */
.search{
    background-color: #3A45A3;
    height: 42px;
}


/* END OF HERO SECTION */


/* profile section */


.grid-container {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    margin: 20px;
  }
  
.profile-all{
    margin: 20px;
    padding: 20px;
}

.profile{

    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2px 2px;

}



.profile-img img{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    
}



/* FOOTER STYLE */
footer.page-footer{
background-color: #292B2E;
}

/* END OF FOOTER STYLE */



/* USER PROFILE STYLE */
.send-message {
   background-color: #7894F6;
   color: white;
   border-radius: 7px;
   outline: none;
   height: 30px;
}

.user-profile{
    border: solid 2px;
    align-content: center;   
}

.user-profile button{
    margin-bottom: 10px;
}

.brand-logo{
    color: #7894F6;
}

.skill-img{
    width: 15px;
    height: 15px;
  
    padding-top: 1px;
}

.social-link img{

    width: 30px;
    height: 30px;
    border-radius: 50px;
}


.card-image img{
    height: 250px;
}

/* END OF USER PROFILE STYLE */



/* SINGLE PROJECT CSS */

.single-project-img{
    width: 100%;
    height: 350px;
}

.review{
    border-left: solid #7894F6 4px;
    padding-left: 5px;
}

/* END OF SINGLE PROJECT CSS */



/* INBOX CSS */

.messages{
    padding: 10px;
}

.message{
    padding: 10px;
}

.message.unread{
    background-color: rgb(209, 205, 205);
}

/* END OF INBOX CSS */


/* ACCOUNT CSS */
/* 
.social-links{
    margin-left: 30px;
   
} */

.crud-btn{
    margin-top: 10px;
    padding-top: 5;
}

/* END OF ACCOUNT CSS */


.inbox{
   
    margin-bottom: 40px;
}













@media screen and (max-width: 994px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    
      }
    }


@media screen and (max-width: 600px) {
.grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;

  }
}




