{% extends 'company/main.html' %}

{% block content%}


Invitations



<table>
    <thead>

        <th>message</th>
        <th>Employee</th>
        
    </thead>
    <tbody>
        {% for invite in invitations%}
         <tr>

            <td>{{invite.body}}</td>
            <td>{{invite.recipient.name}}</td>

         </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Invitations with date

<table>
    <thead>
        
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Place</th>
        
    </thead>
    <tbody>
        {% for invitation in invitations%}
         <tr>
            <td>{{invitation.profile.name}}</td>
            <td>{{invitation.profile.email}}</td>
            <td>{{invitation.date}}</td>
            <td>{{invitation.place}}</td>
          
            
         </tr>
        {% endfor %}
    </tbody>
</table> -->


{% endblock content%}