{% extends 'main.html' %}

{% load static %}

{% block content%}



 <!-- ACCOUNT SECTION -->

 <section class="account">
    
    <div class="row profile-all ">

        <div class="col s12 m3 l3 profile-img user-profile center" >
            <img src="{{profile.profile_image.url}}" alt="{{profile.name}}" >
            <h5>{{profile.name}}</h5>
            <p>{{profile.email}}</p>
            <p>{{profile.short_intro}}</p>

        <ul class="row social-links">
            {% if profile.telegram %}
            <li class="col s2 m2 l2 social-link"><a href="{{profile.telegram}}"> <img src="{% static 'style/images/tg_icon_black.png' %}" alt="~" ></a></li>
            {%endif%}

            {% if profile.social_youtube %}
            <li class="col s2 m2 l2 social-link"> <a href="{{profile.social_youtube}}">
                <img src="{% static 'style/images/yt_icon_black.png' %}" alt="~" >
            </a></li>
            {%endif%}

            {% if profile.social_github %}
            <li class="col s2 m2 l2 social-link"><a href="{{profile.social_github}}">
                <img src="{% static 'style/images/githubicon.png' %}" alt="~" >
            </a></li>
            {%endif%}

            {% if profile.social_website %}
            <li class="col s2 m2 l2 social-link"><a href="{{profile.social_website}}">
                <img src="{% static 'style/images/website_icon.jpg' %}" alt="~" >
            </a></li>
            {%endif%}

            {% if profile.social_linkedid %}
            <li class="col s2 m2 l2 social-link"><a href="{{profile.social_linkedin}}">
                <img src="{% static 'style/images/li_icon_black.png' %}" alt="~" >
            </a></li>
            {%endif%}

            {% if profile.social_facebook %}
            <li class="col s2 m2 l2 social-link"><a href="{{profile.social_facebook}}">
                <img src="{% static 'style/images/fb_icon_black.png' %}" alt="~" >
            </a></li>
            {%endif%}
        </ul>
           <a href="{% url 'edit-profile' %}">  <div class="chip blue lighten-3"> Update Profile </div>
        </div></a>
       
 <div class="col s12 m9 l9">
           <h4 class="brand-logo center"> MY SKILLS </h4>
           <a href="{% url 'add-skill' %}">Add Skill</a>

<ul>

 {% for skill in skills %}
     <div class="row">
        <li class="col s12 m10 l10"><h6> <img src="{% static 'style/images/ok--v3.png' %}" alt="" class="skill-img">  {{skill.name}}</h6>
        <p>{{skill.description}}</p>
        </li>
        

        <li class="crud-btn1">
            <p class="crud-btn col s6 m2 l2 "><a href="{% url 'update-skill' skill.id %}" class="chip blue lighten-3">Update</a></p>
            <p class="crud-btn col s6 m2 l2 "><a href="{% url 'delete-skill' skill.id %}" class="chip red lighten-3" >Delete</a></p>
        </li>
     </div>
 {% endfor %}

</ul>
</div>

</div>

</section>





<!-- 
Projecets -->

<div class="container">
<a href="{% url 'create-project' %}"> Add Project</a> 
</div>

<div class="row profile-all">

    {% for project in projects %}
   <div class="col s12 m6 l4">
        <div class="card">
             <div class="card-image"> <img src="{{project.project_image.url}}" alt="{{project.title}}" ></div>
             <div class="card-content black-text">
 
                 <span class="card-title black-text"><b>{{project.title}}</b></span>
                 
                <p>{{project.description}}</p>

                <ul>
                    {% if project.demo_link %}
                    <li>{{project.demo_link}}</li>
                    {%endif%}
        
                    {% if project.source_link %}
                    <li>{{project.source_link}}</li>
                    {%endif%}
        
                </ul>
 
                <p>{{ project.review_total }} votes</p>
                <p>{{ project.review_ratio }} % </p>  


                {% for tag in project.tags.all %}
                <div class="chip">
                    {{tag.name}}
               </div>

               {%endfor%}
             </div>

             <ul class="row center">
                <p class="crud-btn col s6 m6 l6 "><a href="{% url 'update-project' project.id %}" class="chip blue lighten-3">Update</a></p>
                <p class="crud-btn col s6 m6 l6 "><a href="{% url 'delete-project' project.id %}" class="chip red lighten-3" >Delete</a></p>
            </ul>
     </div>


    </div>
     {%endfor%}

</div>
<!-- END OF ACCOUNT SECTION  -->

{% endblock content%}