{% extends 'main.html' %}

{% block content%}



 <!-- SEND MESSAGE SECTION -->

 <section class="chat">

  <h4 class="brand-logo center">SEND MESSAGE</h4>
  <br>
  <br>
  <div class="container">

    <p><a href="{% url 'user-profile' recipient.id %}">Back</a></p>


    <form action="" method="POST">
      {% csrf_token %}
      {% if request.user.is_authenticated == False %}


     <label for="" style="font-size: large;">{{form.name.label}}
      
      {{form.name}}
     </label>


     <label for="" style="font-size: large;">{{form.email.label}}
      {{form.email}}
     </label>

     {% endif %}

     <label for="" style="font-size: large;">{{form.subject.label}}
      {{form.subject}}
    </label>

     <label for=""  style="font-size: large;">{{form.body.label}}</label>
     {{form.body}}

   
     <div class="center">
      <input type="submit" name="submit" value="Send" class="btn light-blue">
  </div>

    </form>
    <br>
    <br>

  </div>

</section>



<!-- END OF SEND MESSAGE SECTION  -->






{% endblock content%}

