{% extends 'main.html' %}

{% block content%}

<div>

   
      <h4>{{single_news.title}}</h4>
      <p>{{single_news.type}}</p>
      <p>{{single_news.salary}}</p>
      <p>{{single_news.company.name}}</p>
      <p>on {{single_news.updated}}</p>

      {% if existing_application %}
      <p>You have applied</p>
      {% else %}
      <form action="" method="POST" >
        {% csrf_token %}
         {{form.as_p}}
    
        <input type="submit" value="Apply">
      </form>
      {%endif%}

</div>

{% endblock content%}