<!-- FOOTER -->

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l8">

                <h6>FindME</h6>

                <p>We connect employee and employer</p>
                <p><a href="{% url 'profiles' %}"> Home </a>|<a href="{% url 'login' %}"> Login </a></p>
                <!-- <ul>
                    <li>
                        <a href="#"><i class="material-icons ">facebook</i></a></li>
                </ul> -->
            </div>
            <div class="col s12 m8 l4">
                <button class="btn white black-text" style="border-radius: 10px;">Contact us</button>
                <p>findme@gmail.com</p>
            </div>
            
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container container-align">&copy; 2022-FindME-All rights reserved</div>
    </div>
</footer>
<!-- 
END OF FOOTER -->